
<div class="dashboard-wrapper">
  <aside class="sidebar" [class.collapsed]="isCollapsed">

    <div class="sidebar-header">
      <div class="logo-box" *ngIf="!isCollapsed" routerLink="/home" style="cursor: pointer;">
        <img src="../../../assets/images/logo-new.png" alt="Agri-Pro">
        <span>Agri-Pro</span>
      </div>
      <button class="toggle-btn" (click)="toggleSidebar()">
        <i class="fa-solid" [ngClass]="isCollapsed ? 'fa-chevron-right' : 'fa-chevron-left'"></i>
      </button>
    </div>

    <nav class="menu-items">
      <a routerLink="dashboard" routerLinkActive="active-link">
        <i class="fa-solid fa-grid-horizontal"></i>
        <span *ngIf="!isCollapsed">Dashboard</span>
      </a>

      <a routerLink="create-project" routerLinkActive="active-link">
        <i class="fa-solid fa-folder-plus"></i>
        <span *ngIf="!isCollapsed">Create Project</span>
      </a>

      <a routerLink="my-projects" routerLinkActive="active-link">
        <i class="fa-solid fa-folder-open"></i>
        <span *ngIf="!isCollapsed">My Projects</span>
      </a>

      <a routerLink="contracts" routerLinkActive="active-link">
        <i class="fa-regular fa-file-lines"></i>
        <span *ngIf="!isCollapsed">Contracts</span>
      </a>

      <a routerLink="wallet" routerLinkActive="active-link">
        <i class="fa-solid fa-wallet"></i>
        <span *ngIf="!isCollapsed">My Wallet</span>
      </a>

      <a routerLink="profile" routerLinkActive="active-link">
        <i class="fa-regular fa-user"></i>
        <span *ngIf="!isCollapsed">My Profile</span>
      </a>

      
      <a routerLink="settings" routerLinkActive="active-link">
        <i class="fa-solid fa-gear"></i>
        <span *ngIf="!isCollapsed">Settings</span>
      </a>
  
    </nav>

    <div class="sidebar-footer">
      <a (click)="logout()" class="logout-link">
        <i class="fa-solid fa-arrow-right-from-bracket"></i>
        <span *ngIf="!isCollapsed">Logout</span>
      </a>
    </div>
  </aside>

  <main class="main-content">
    <app-farmer-nav></app-farmer-nav>
    <router-outlet></router-outlet>
  </main>
</div>
