<div class="projects-search-bar">
  <div class="search-field">
    <i class="fa-solid fa-magnifying-glass"></i>
    <input type="text" placeholder="Search projects..." />
  </div>

  <div class="filter-wrapper">
    <button type="button" class="filter-button" (click)="toggleFilter('crop')">
      {{ selectedCrop }}
      <i class="fa-solid fa-chevron-down"></i>
    </button>
    <ul *ngIf="openFilter === 'crop'" class="filter-menu">
      <li *ngFor="let option of cropOptions" (click)="selectCrop(option)">{{ option }}</li>
    </ul>
  </div>

  <div class="filter-wrapper">
    <button type="button" class="filter-button" (click)="toggleFilter('location')">
      {{ selectedLocation }}
      <i class="fa-solid fa-chevron-down"></i>
    </button>
    <ul *ngIf="openFilter === 'location'" class="filter-menu">
      <li *ngFor="let option of locationOptions" (click)="selectLocation(option)">{{ option }}</li>
    </ul>
  </div>

  <div class="filter-wrapper">
    <button type="button" class="filter-button" (click)="toggleFilter('risk')">
      {{ selectedRisk }}
      <i class="fa-solid fa-chevron-down"></i>
    </button>
    <ul *ngIf="openFilter === 'risk'" class="filter-menu">
      <li *ngFor="let option of riskOptions" (click)="selectRisk(option)">{{ option }}</li>
    </ul>
  </div>

  <button class="more-filters-button">
    <i class="fa-solid fa-filter"></i>
    More Filters
  </button>
</div>
