<section class="recent-projects-card">
  <div class="recent-header">
    <div>
      <h2>Recent Projects</h2>
    </div>
    <a class="view-all-link" href="/farmer/my-projects">View All <i class="fa-solid fa-arrow-up-right-from-square"></i></a>
  </div>

  <div class="table-responsive">
    <table class="projects-table">
      <thead>
        <tr>
          <th>Project</th>
          <th>Status</th>
          <th>Funded</th>
          <th>Progress</th>
          <th>Investors</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let project of projects">
          <td>{{ project.name }}</td>
          <td><span class="status-badge" [ngClass]="{'status-active': project.status === 'Published'}"><i class="fa-solid fa-chart-line"></i> {{ project.status }}</span></td>
          <td>EGP {{ project.fundingRaised | number }}</td>
          <td>
            <div class="progress-wrap">
              <div class="progress-bar filled" [style.width.%]="project.fundingProgress"></div>
            </div>
            <span>{{ project.fundingProgress }}%</span>
          </td>
          <td><i class="fa-solid fa-arrow-right"></i></td>
          <td><i class="fa-solid fa-arrow-right"></i></td>
        </tr>
        <tr *ngIf="projects?.length === 0">
          <td colspan="5" style="text-align: center; padding: 20px;">No active projects found.</td>
          <!--<td><span class="status-badge status-review"><i class="fa-solid fa-clock"></i> Under Review</span></td>
  <td>EGP 0</td>
  <td>
    <div class="progress-wrap">
      <div class="progress-bar"></div>
    </div>
    <span>0%</span>
  </td>
  <td>0</td>
  <td><i class="fa-solid fa-arrow-right"></i></td>-->
        </tr>
      <!--  <tr>
          <td>Organic Vegetables - Fayoum</td>
          <td><span class="status-badge status-funded"><i class="fa-solid fa-circle-check"></i> Funded</span></td>
          <td>EGP 250,000</td>
          <td>
            <div class="progress-wrap">
              <div class="progress-bar filled" style="width: 100%"></div>
            </div>
            <span>100%</span>
          </td>
          <td>18</td>
          <td><i class="fa-solid fa-arrow-right"></i></td>
        </tr>
        <tr>
          <td>Cotton Plantation - Minya</td>
          <td><span class="status-badge status-draft"><i class="fa-solid fa-circle-info"></i> Draft</span></td>
          <td>EGP 0</td>
          <td>
            <div class="progress-wrap">
              <div class="progress-bar"></div>
            </div>
            <span>0%</span>
          </td>
          <td>0</td>
          <td><i class="fa-solid fa-arrow-right"></i></td>
        </tr>-->
      </tbody>
    </table>
  </div>
</section>
