<section class="steps-wrapper">
  <div class="step">
    <div class="step-icon active">
      <i class="fa-solid fa-file-lines"></i>
    </div>
    <p>Basic Info</p>
  </div>
  <div class="step-line"></div>
  <div class="step">
    <div class="step-icon">
      <i class="fa-solid fa-location-dot"></i>
    </div>
    <p>Land Details</p>
  </div>
  <div class="step-line"></div>
  <div class="step">
    <div class="step-icon">
      <i class="fa-solid fa-image"></i>
    </div>
    <p>Land Images</p>
  </div>
  <div class="step-line"></div>
  <div class="step">
    <div class="step-icon">
      <i class="fa-solid fa-shield-halved"></i>
    </div>
    <p>Documents</p>
  </div>
  <div class="step-line"></div>
  <div class="step">
    <div class="step-icon">
      <i class="fa-solid fa-coins"></i>
    </div>
    <p>Investment</p>
  </div>
</section>
