<section class="stats-grid">
 
  <article class="stat-card">
    <div class="stat-meta">
      <div>
        <p class="stat-label">Total Projects</p>
        <h3>{{ stats?.totalProjects || 0 }}</h3>
      </div>
      <span class="stat-icon stat-icon-green">
        <i class="fa-solid fa-folder-closed"></i>
      </span>
    </div>
  </article>

  
  <article class="stat-card">
    <div class="stat-meta">
      <div>
        <p class="stat-label">Funding Raised</p>
        <h3>EGP {{ stats?.totalFundingRaised | number }}</h3>
      </div>
      <span class="stat-icon stat-icon-dark">
        <i class="fa-solid fa-seedling"></i>
      </span>
    </div>
  </article>

  
  <article class="stat-card">
    <div class="stat-meta">
      <div>
        <p class="stat-label">Total Investors</p>
        <h3>{{ stats?.totalInvestors || 0 }}</h3>
      </div>
      <span class="stat-icon stat-icon-yellow">
        <i class="fa-solid fa-users"></i>
      </span>
    </div>
  </article>
</section>
