<div class="settings-container">
  <nav class="settings-tabs">
    <a routerLink="profile" routerLinkActive="active-tab" [routerLinkActiveOptions]="{ exact: true }">
      <i class="fa-regular fa-user"></i>
      Profile
    </a>
    <a routerLink="security" routerLinkActive="active-tab">
      <i class="fa-regular fa-lock"></i>
      Security
    </a>
    <a routerLink="notifications" routerLinkActive="active-tab">
      <i class="fa-regular fa-bell"></i>
      Notifications
    </a>
    <!--
    <a routerLink="preferences" routerLinkActive="active-tab">
      <i class="fa-solid fa-globe"></i>
      Preferences
    </a>
    -->
  </nav>

  <section class="settings-panel">
    <router-outlet></router-outlet>
  </section>
</div>
