<div class="register-page-wrapper">
  <div class="register-content-card">
 
    <div class="info-sidebar">
      <div class="logo-area">
        <img src="../../../assets/images/logo-new.png" alt="Logo" class="mini-logo">
        <span>Agri-Pro</span>
      </div>
      <div class="main-content-text">
        <h1>Join Egypt's Leading Agricultural Investment Platform</h1>
        <p>Whether you're a farmer looking for investment, an investor seeking returns, or an expert wanting to verify projects - there's a place for you here.</p>
      </div>
      <div class="sidebar-footer">
        Your data is protected with bank-grade encryption.
      </div>
    </div>

    
    <div class="form-section">
      <div class="form-wrapper">
        <div class="auth-header mb-4">
          <h2>Change your password</h2>
          <p>Secure your account by creating a new, strong password below.</p>
        </div>

        <form [formGroup]="resetPasswordForm" (ngSubmit)="submitReset()">


        
          <div class="mb-4">
            <label class="form-label">New Password</label>
            <div class="password-wrapper">
              <input [type]="isPasswordVisible ? 'text' : 'password'" class="custom-input w-100" placeholder="Minimum 6 characters..." formControlName="password">
              <i class="fa-regular fa-eye password-icon" [ngClass]="isPasswordVisible ? 'fa-eye-slash' : 'fa-eye'" (click)="togglePassword()"></i>
            </div>
            <div class="error-wrapper">
              @if(resetPasswordForm.get('password')?.touched && resetPasswordForm.get('password')?.invalid){
              <small>Password must be at least 6 characters</small>
              }
            </div>
          </div>

         
          <div class="mb-4">
            <label class="form-label">Confirm New Password</label>
            <div class="password-wrapper">
              <input [type]="isRePasswordVisible ? 'text' : 'password'" class="custom-input w-100" placeholder="Confirm your password" formControlName="rePassword">
              <i class="fa-regular fa-eye password-icon" [ngClass]="isRePasswordVisible ? 'fa-eye-slash' : 'fa-eye'"  (click)="toggleRePassword()"></i>
            </div>
            <div class="error-wrapper">
              @if(resetPasswordForm.get('rePassword')?.touched && resetPasswordForm.hasError('mismatch')){
              <small>Passwords do not match</small>
              }
            </div>
          </div>

          @if(serverError){
          <div class="alert alert-danger mt-2">{{serverError}}</div>
          <button type="button" (click)="resend()">Resend Activation Link</button>
          }

          <button type="submit" class="btn btn-submit w-100" [disabled]="resetPasswordForm.invalid">Change Password</button>

        
          <div class="mt-4">
            <a routerLink="/login" class="back-link">
              <i class="fa-solid fa-arrow-left"></i> Cancel & Back to Login
            </a>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
