
<div *ngIf="isLoading" class="dash-loading-container">
  <div class="spinner-wrapper">
    <div class="custom-spinner"></div>
    <p class="loading-text">Loading Expert Dashboard...</p>
  </div>

  
  <div class="skeleton-cards-grid">
    <div class="skeleton-card metric-skeleton" *ngFor="let item of [1, 2, 3, 4]"></div>
  </div>

  
  <div class="skeleton-card table-skeleton">
    <div class="skeleton-row-header"></div>
    <div class="skeleton-row" *ngFor="let item of [1, 2, 3]"></div>
  </div>
</div>


<ng-container *ngIf="!isLoading && dashboardData">
  
  <app-expert-dash-cards [data]="dashboardData"></app-expert-dash-cards>

 
  <app-expert-dash-reviews [reviews]="dashboardData.recentReviews"></app-expert-dash-reviews>

 
  <app-expert-dash-performance [data]="dashboardData"></app-expert-dash-performance>
</ng-container>
