<div class="settings-container">
  <div class="tabs-header">
    <a routerLink="profile" routerLinkActive="active-tab">
      <i class="fa-regular fa-user"></i> Profile
    </a>
    <a routerLink="security" routerLinkActive="active-tab">
      <i class="fa-regular fa-lock"></i> Security
    </a>
    <a routerLink="notifications" routerLinkActive="active-tab">
      <i class="fa-regular fa-bell"></i> Notifications
    </a>
    <a routerLink="preferences" routerLinkActive="active-tab">
      <i class="fa-solid fa-globe"></i> Preferences
    </a>
  </div>

  <div class="tab-content-card">
    <router-outlet></router-outlet>
  </div>
</div>
