<nav class="navbar navbar-expand-lg navbar-custom sticky-top py-3">
  <div class="container-fluid px-3 px-lg-5">
    <a class="navbar-brand d-flex align-items-center gap-2" href="#">
      <span ><img src="../../../assets/images/logo-new.png" alt="Logo" class="brand-icon"></span>
      <span class="brand-name">Agri-Pro</span>
    </a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-between" id="navbarNav">
      <ul class="navbar-nav mx-auto align-items-center text-center">
        <li class="nav-item"><a class="nav-link" href="#projects" data-bs-toggle="collapse" data-bs-target="#navbarNav">Projects</a></li>
        <li class="nav-item"><a class="nav-link" href="#how-it-works" data-bs-toggle="collapse" data-bs-target="#navbarNav">Experts</a></li>
        <li class="nav-item"><a class="nav-link" href="#features" data-bs-toggle="collapse" data-bs-target="#navbarNav">Plans</a></li>
        <li class="nav-item"><a class="nav-link" href="#footer" data-bs-toggle="collapse" data-bs-target="#navbarNav">About</a></li>
      </ul>
      <div class="nav-actions d-flex align-items-center gap-3">
        <a class="nav-link login-link" href="/login" data-bs-toggle="collapse" data-bs-target="#navbarNav">Login</a>
        <a class="btn btn-start" href="#projects" data-bs-toggle="collapse" data-bs-target="#navbarNav">Start Investing</a>
      </div>
    </div>
  </div>
</nav>
