<section class="recent-activity">
  <div class="activity-header">
    <h3>Recent Activity</h3>
  </div>

  <ul class="activity-list" *ngIf="activities && activities.length > 0; else noActivity">
    <li *ngFor="let act of activities">
      <div class="icon">📌</div>
      <div>
        <div class="activity-title">{{ act.title }}</div>
        <div class="activity-time">{{ act.timestamp }}</div>
      </div>
    </li>
  </ul>

  
  <ng-template #noActivity>
    <div class="empty-activity">
      <div class="empty-icon-wrapper">
        <span class="empty-icon">🔕</span>
      </div>
      <h4>No Recent Activity</h4>
      <p>There are no new updates or system actions recorded at the moment.</p>
    </div>
  </ng-template>
</section>
