<div class="verified-page-content">
  
  <div *ngIf="isLoading" class="verified-loading-container">
    <div class="spinner-wrapper">
      <div class="custom-spinner"></div>
      <p class="loading-text">Loading verified projects...</p>
    </div>

   
    <div class="skeleton-metrics-grid">
      <div class="skeleton-card metric-skeleton" *ngFor="let item of [1, 2, 3]"></div>
    </div>

   
    <div class="skeleton-card search-skeleton"></div>

   
    <div class="skeleton-projects-grid">
      <div class="skeleton-card project-card-skeleton" *ngFor="let item of [1, 2, 3, 4]">
        <div class="skeleton-img"></div>
        <div class="skeleton-body">
          <div class="skeleton-line title"></div>
          <div class="skeleton-line short"></div>
          <div class="skeleton-line short"></div>
          <div class="skeleton-line progress"></div>
          <div class="skeleton-line btn"></div>
        </div>
      </div>
    </div>
  </div>

  <ng-container *ngIf="!isLoading">
   
    <app-expert-verified-cards [totalVerified]="totalVerified"
                               [totalFunding]="totalFunding"
                               [totalInvestors]="totalInvestors">
    </app-expert-verified-cards>

    
    <app-expert-verified-search (searchChange)="onSearchChange($event)"
                                (filterChange)="onFilterChange($event)">
    </app-expert-verified-search>

    
    <app-expert-verified-projects [projects]="filteredProjects">
    </app-expert-verified-projects>
  </ng-container>
</div>
