<div class="stepper-container">
  <div class="stepper-header">
    <div *ngFor="let step of steps; let i = index" class="step-item">
      <div class="step-circle" [class.active]="currentStep >= i" [class.completed]="currentStep > i">
        <i *ngIf="currentStep > i" class="fas fa-check"></i>
        <i *ngIf="currentStep <= i" [class]="step.icon"></i>
      </div>

      <span class="step-label" [class.active-text]="currentStep === i">{{ step.label }}</span>

      <div *ngIf="i < steps.length - 1" class="step-line" [class.active-line]="currentStep > i"></div>
    </div>
  </div>

  <div class="stepper-content">
    <div class="card-wrapper">
      <ng-container [ngSwitch]="currentStep">
        <app-add-project-form *ngSwitchCase="0" (continue)="nextStep()" (previous)="prevStep()"></app-add-project-form>
        <app-land-form *ngSwitchCase="1" (continue)="nextStep()" (previous)="prevStep()"></app-land-form>
        <app-land-images *ngSwitchCase="2" (continue)="nextStep()" (previous)="prevStep()"></app-land-images>
        <app-farmer-documents *ngSwitchCase="3" (continue)="nextStep()" (previous)="prevStep()"></app-farmer-documents>
        <app-farmer-investment *ngSwitchCase="4" (previous)="prevStep()"></app-farmer-investment>
      </ng-container>
    </div>
  </div>
</div>
