<section class="projects-section">
  <div class="projects-header">
    <div class="projects-tabs" role="tablist">
      <button class="tab" [class.active]="activeTab === 'All'" (click)="filterProjects('All')">All Projects</button>
      <button class="tab" [class.active]="activeTab === 'Published'" (click)="filterProjects('Published')">Active</button>
      <button class="tab" [class.active]="activeTab === 'Pending'" (click)="filterProjects('Pending')">Under Review</button>
    </div>
    <button class="btn-create" routerLink="/farmer/create-project">
      <i class="fa-solid fa-folder-plus"></i>
      Create New Project
    </button>
  </div>

  <div class="projects-grid">
    @for (project of filteredProjects; track project.id) {
    <article class="project-card">
      <div class="project-card-top">
        <span class="project-status" [ngClass]="{
            'badge-active': project.status === 'Published',
            'badge-review': project.status === 'Pending'
          }">
          <i class="fa-solid" [ngClass]="project.status === 'Published' ? 'fa-arrow-trend-up' : 'fa-clock'"></i>
        </span>
      </div>
      <div class="project-card-body">
        <h3>{{ project.title }}</h3>
        <!--   <p class="project-location"><i class="fa-solid fa-location-dot"></i> Kafr El-Sheikh, Beheira</p> -->
        <!--   <div class="project-meta">
        <span class="project-tag">Wheat</span>
        <span>15 Feddan</span>
      </div>-->
        <div class="project-progress-bar">
          <div class="project-progress-fill" [style.width.%]="project.fundingProgress"></div>
        </div>
        <div class="project-progress-info">
          <span>EGP {{ project.fundingRaised | number }} / EGP {{ project.targetAmount | number }}</span>
          <span>{{ project.fundingProgress }}%</span>
        </div>
        <div class="project-footer">
          <button class="btn-view-details" [routerLink]="['/farmer/project-details', project.id]">
            View Details
          </button>
          <span class="project-return"><i class="fa-solid fa-arrow-trend-up"></i> EGP {{ project.expectedProfit | number }}</span>
          <span class="project-investors">{{ project.investorsCount }} investors</span>
        </div>
      </div>
    </article>
    }
    @empty {
    <div class="no-data">No projects found in this section.</div>
    }

    
  </div>
</section>
